<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
    <add key="Basepath" value = "https://budgetrecords-7ae17.firebaseio.com/"/>
    <add key="Authentication" value="docfvAZ6qQX66j3L9n7i0doi4j3wa5mhFKIbs0yE"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

</configuration>